<body>
    <div class="diagnosfirst">
        <div class="result">
        <%= image_tag 'katorizinnguu', size: '700x500' %>
        </div>
            <div class="resultfirst">
            香取神宮
            <div>
                <div class="resultsecond">
                東国三社の一社！<br>
                勝運の御利益があるかも？
                </div>
                    <div style="text-align:center;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25861.58129316748!2d140.47637430840555!3d35.880925315667405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f830b1e92693%3A0x2fc42b02607e216f!2z6aaZ5Y-W56We5a6uKOS4i-e3j-Wci-S4gOS5i-Wurik!5e0!3m2!1sja!2sjp!4v1690890751164!5m2!1sja!2sjp" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
    </div>
</body>