<body>
    <div class="diagnosfirst">
        <div class="result">
        <%= image_tag 'katoritest.jpg', size: '700x500' %>
        </div>
            <div class="resultfirst">
            佐原伝統的建造物群保存地区保存地区
            </div>
                <div class="resultsecond">
                佐原の町並みを保存した地区！<br>
                散歩しているだけで歴史的町並みを楽しめるかも？
                </div>
                    <div style="text-align:center;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.404000890388!2d140.49551987568637!3d35.88811987252116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7eeb28290a1%3A0xe642e8638b5a581e!2z5bCP6YeO5bed!5e0!3m2!1sja!2sjp!4v1690891119026!5m2!1sja!2sjp" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
    </div>
</body>