<body>
    <div class="diagnosfirst">
        <div class="diagnossecond">
        楽しみたいのはどっち？
        </div>
            <div class="diagnosthird">
            <%= link_to 'うなぎ', 'k' ,class: 'box1' %>
            <%= link_to 'そば', 'l' ,class: 'box1' %>
            </div>
    </div>
</body>