<body>
    <div class="diagnosfirst">
        <div class="diagnossecond">
        楽しみたいのはどっち？
        </div>
            <div class="diagnosthird">
            <%= link_to '和食', 'q' ,class: 'box1' %>
            <%= link_to '洋食', 'r' ,class: 'box1' %>
            </div>
    </div>
</body>