<body>
    <div class="diagnosfirst">
        <div class="result">
        <%= image_tag 'katori_wa-zu.jpg', size: '700x500' %>
        </div>
            <div class="resultfirst">
            ワーズワース
            </div>
                <div class="resultsecond">
                川沿いにある古民家レストラン<br>
                手軽に食事をとりたい方におすすめ！
                </div>
                    <div style="text-align:center;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51716.95306886343!2d140.4218893486328!3d35.89043319999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7e92b6e297f%3A0x814197ca56f8b341!2z44Ov44O844K644Ov44O844K55L2Q5Y6f!5e0!3m2!1sja!2sjp!4v1690887473608!5m2!1sja!2sjp" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
    </div>
</body>