<body>
    <div class="diagnosfirst">
        <div class="result">
        <%= image_tag 'katori_zyuusannri.jpg', size: '700x500' %>
        </div>
            <div class="resultfirst">
            さわら十三里屋
            </div>
                <div class="resultsecond">
                芋専門の和菓子屋<br>
                冷やし大学芋が絶品！
                </div>
                    <div style="text-align:center;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1644.5612737711244!2d140.49654437839132!3d35.889193823553974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7e94d9ec5a7%3A0xaa782fae7bca795c!2z44GV44KP44KJ5Y2B5LiJ6YeM5bGL!5e0!3m2!1sja!2sjp!4v1690885947629!5m2!1sja!2sjp" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
    </div>
</body>