<body>
    <div class="diagnosfirst">
        <div class="result">
        <%= image_tag 'katori_hoteiya.jpg', size: '700x500' %>
        </div>
            <div class="resultfirst">
            ほていや
            </div>
                <div class="resultsecond">
                1949年創業の和洋菓子店<br>
                佐原ばやしやシフォンケーキがおすすめ！
                </div>
                    <div style="text-align:center;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32218.4460135297!2d140.44098786409415!3d35.88561889767432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7e8a8c9fce9%3A0x7bda2ebba3204475!2z5L2Q5Y6f44Gw44KE44GX5pys6IiXIOOBu-OBpuOBhOOChCDmnKzlupc!5e0!3m2!1sja!2sjp!4v1690886440935!5m2!1sja!2sjp" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
    </div>
</body>