<body>
    <div class="diagnosfirst">
        <div class="diagnossecond">
        楽しみたいのはどっち？
        </div>
            <div class="diagnosthird">  
            <%= link_to '偉人', 'v' ,class: 'box1' %>
            <%= link_to '歴史', 'w' ,class: 'box1' %>
            </div>
    </div>
</body>