<body>
    <div class="diagnosfirst">
        <div class="result">
        <%= image_tag 'katori_kinenn.jpg', size: '700x500' %>
        </div>
            <div class="resultfirst">
            伊能忠敬記念館
            </div>
                <div class="resultsecond">
                伊能忠敬の生涯がわかる！<br>
                測量制度の高さもわかるかも？
                </div>
                    <div style="text-align:center;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.3943835260275!2d140.49489037568642!3d35.888355472521056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7e9590f0ee9%3A0xe6d99dd2954f0415!2z5LyK6IO95b-g5pWs6KiY5b-16aSo!5e0!3m2!1sja!2sjp!4v1690890322157!5m2!1sja!2sjp" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
    </div>
</body>