<body>
    <div class="diagnosfirst">
        <div class="diagnossecond">
        楽しみたいのはどっち？
        </div>
            <div class="diagnosthird">
            <%= link_to '偉人', 'ae' ,class: 'box1' %>
            <%= link_to '散歩', 'af' ,class: 'box1' %>
            </div>
    </div>
</body>